[MASTER]
max-line-length=100
jobs=4

[MESSAGES CONTROL]
disable=
    unnecessary-pass,
    missing-docstring,

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-attributes=7
max-locals=15
max-arguments=10
max-branches=12
max-public-methods=20
min-public-methods=2
max-returns=6
max-statements=50

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no

# [SPELLING]
# spelling-dict=en_US - Dictionary not available, disabling spelling checks

[LOGGING]
logging-format-style=new
